.message {
  padding: 10px;
  border-radius: 5px;
}

.message.progress {
  border: 1px solid #bbb;
  background: #eee;
}

.message.error {
  border: 1px solid #f00;
  background: #f88;
}

button.accordion-header {
  display: block;
  width: 100%;
  text-align: left;
}

button.accordion-header span {
  float: left;
}

button.accordion-header span.badge {
  display: inline-block;
  float: right;
}

ul.data li {
  list-style-type: none;
}
